* {
    box-sizing: border-box;
}
body{
  background-color:#e6e6ff;
}
#left-side {
  width: 30%;
  float: left;
  background-color: #E0E0E0;
  border-radius: 2%;
  border-color: black;
}
#right-side {
  width: 70%;
  float: right;
}
#currentWord {
  float:left;
}
h1 {
  width: 25vmax;
  font-size: 4em;
}
p {
    margin: 0 0 10px;
    font-size: 2em;
    text-align:center;
}
#score-table {
  background-color: inherit;
  float: left;
  overflow:auto;
}

 #dice-grid {
   display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
   width: 60vmax;
   height: auto;
   float: right;
 }
.selected {
  background-color: orange;
}
.btn-group {
    font-size: 1.5em;
    float: right;
    padding: 1em;
}
/*.button-row {
  float: right;
  overflow:auto;
  width: auto;
}*/
.button-row > button {
    height: 2em;
    width: 2em;
    border: .2em solid black;
    margin: .10em;
    font-size: 3em;
}

/*.leftSide{
  background: #D3D3D3;
}


#dice-grid {
        border: 5px solid $yellow-orange;
        width: 280px;
        height: 275px;
        margin: 0 auto;
        background-color: $blue;
        .dice {
            text-align: center;
            button {
                height: 46px;
                width: 45px;
                margin: 3px;
                border-radius: 8px;
                background-color: #fff;
                box-shadow: -2px 2px 2px #000;
                outline: none;
                border: none;
                font-weight: 800;
                &:last-child {
                    //margin-right:0;
                }
            }

        }
        .dice:first-child {
            margin-top: 6px;
        }
}
.letterButtons {
  font-size: 300%;
  text-align: center;
}

#submit-btn {
  display : block;

}
.btn-right {
  float:right;

}
h1 {
  padding-top: 20%;
}
button {

    border: none;
    color: white;
    font-size: 46px;
    width: 40px;

}
.custom {
    width: 50px !important;

}
*/
